.idea/
.ipynb_checkpoints/
data/GlaS/*
data/splits/*
datasets/__pycache__/*
models/__pycache__/*
utils/__pycache__/*
maps/*
active_learning/__pycache__/*
results/*
runs/*
state_dicts/*
*.sh
wsl_cams/*
uncerts/*